body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

a {
    text-decoration: none;
}

.header,
.footer {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 200px;
}

.hero {
    background-color: #1f2937;
    padding: 1.5em 200px;
    display: flex;
    justify-content: center;
}

.footer {
    color: #e5e7eb;
    justify-content: center;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.header-link {
    color: #e5e7eb;
    font-size: 18px;
}

.header>ul {
    display: flex;
    list-style: none;
    gap: 1em;
}

.hero-content {
    display: flex;
    justify-content: center;
    /* max-width: 1000px; */
    padding: 50px 0;
    align-items: center;
    gap: 1em;
}

.hero-body {
    /* flex: 0; */
    flex-shrink: 1;
}

.hero h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 0.5em;
}

.hero button {
    background-color: #3882f6;
    border: 0;
    padding: 0.4em 1.2em;
    color: #f9faf8;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
}

.hero img {
    width: 480px;
    height: auto;
}

.information {
    padding: 1.5em 200px;
}

.info-title {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding: 25px 0;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 3em;
    align-items: center;
    padding: 25px 0 50px 0;
}

.box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: min-content;
    text-align: center;
}

.box img {
    width: 150px;
    height: auto;
    border-radius: 15px;
    border: #3882f6 solid 5px;
}

.quote {
    background-color: #e5e7eb;
    display: flex;
    padding: 75px 250px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 300;
    text-align: left;
}

.quote-author {
    font-weight: 700;
    color: #1f2937;
    font-size: 24px;
}

.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 200px;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3em;
    background-color: #3882f6;
    border-radius: 8px;
    color: #f9faf8;
    width: 100%;
}

.cta-title {
    font-size: 24px;
    font-weight: bold;
}

.cta button {
    background-color: #3882f6;
    border: solid #f9faf8 2px;
    padding: 0.4em 1.2em;
    color: #f9faf8;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
}
